body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("fundo.jpg");
    background-size: cover;
}
/* START HEADER */

/*Caixa de Header*/
.cabecalho{
    background:#E8E8E8;
    width: 940px;
    margin: 2.5em auto 0 auto;
    position: relative;
    padding: 2.5em 2.5em 2.5em 0;
    text-align: center;
    box-shadow: 5px 5px 15px 15px #363636;   
    border-radius: 15px;
}

/*Titulo e Descricao */
.tituloEDescricao{
    display: inline-block;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.logoAdega{
    font-size: 15px;
    width: 35%;  
}

.hTitulo{
    font-size: 6em;
    color: 	#FFD700;
    text-shadow: -5px 5px #CD0000, -8px 8px#FFFFFF;            
}

.descricaoTitulo{
    font-size: 1.5em;
    color: #8B2323;
    padding: 15px 0 0 0;
}

/* END HEADER */

/*START MAIN */

main{
    width: 940px;
    margin: 6em auto 0 auto;
    background: #E8E8E8;
    box-shadow: 5px 5px 15px 15px #363636;
    border-radius: 15px;
    padding: 10px;
}

/*START nosso Espaco */

.hAmbiente, .hServicos{
    font-size: 4em;
    text-align: center;
    padding: 1em 0 1em 0;
    font-family: 'Lobster', cursive;
}

.distribuidoraImagem{
    width: 100%;   
    opacity: 0.7;
}

.distribuidoraImagem:hover{
    opacity: 0.8;   
}

.pAmbiente{
    font-size: 1.5em;
    font-style: italic;
    padding: 0.5em;
    text-align: justify;
}

/*END Conheca nosso Espaco */

/*START Produtos e Servicos */


/*END Produtos e Servicos */
/*END MAIN */