/* START HEADER */

/*Caixa de Header*/
.cabecalho{
    background:#E8E8E8;
    width: 940px;
    margin: 2.5em auto 0 auto;
    position: relative;
    padding: 2.5em 2.5em 2.5em 0;
    text-align: center;
    box-shadow: 5px 5px 15px 15px #000000;
   
}

/*Titulo e Descricao */
.tituloEDescricao{
    display: inline-block;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.logoAdega{
    font-size: 15px;
    width: 35%;  
}

.titulo{
    font-size: 6em;
    color: 	#EEDD82;
    text-shadow: -5px 5px #CD0000, -8px 8px#FFFFFF;            
}

.descricaoTitulo{
    font-size: 1.5em;
    color: #8B2323;
    padding: 15px 0 0 0;

}

/* END HEADER */