body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#b1aaa1, #c79e6b 70%);
}


/* START HEADER */

/*Caixa de Header*/
.cabecalho{
    background-image: url("1093598.jpg");
    width: 940px;
    margin: 2em auto 0 auto;
    position: relative;
    padding: 2.5em 2.5em 2.5em 0;
    text-align: center;
    box-shadow: 5px 5px 15px 15px #363636;   
    border-radius: 15px;
}

/*Titulo e Descricao */
.tituloEDescricao{
    display: inline-block;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.logoAdega{
    font-size: 15px;
    width: 35%;  
}
.logoAdega:hover{
    opacity: 0.4;
    width: 37%;
}
.hTitulo{
    font-size: 6em;
    color: 	#FFD700;
    text-shadow: -5px 5px #CD0000, -8px 8px#FFFFFF;            
}

.descricaoTitulo{
    font-size: 1.5em;
    color: #8B2323;
    padding: 15px 0 0 0;
}

/* END HEADER */

/* START NAV */

nav{
    width: 940px;
    margin: 5em auto 0 auto;
    background-image: url("1093598.jpg");
    padding: 1.5em;  
    box-shadow: 5px 5px 15px 15px #363636;
    border-radius: 15px;  
    text-align: center;
}

.liMenuNavegacao{
    display: inline-block;  
    margin: 20px;
}

.liMenuNavegacao a{
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5em;
    color: 	#000000;
}

.liMenuNavegacao a:hover{
    font-size: 3em;
    color: 	#FFD700;
    text-shadow: -3px 3px #CD0000, -5px 5px #FFFFFF;  
    transition: 300ms;
}
/* END NAV */


/*START MAIN */

main{
    width: 940px;
    margin: 6em auto auto auto;
    background-image: url("1093598.jpg");   
    box-shadow: 5px 5px 15px 15px #363636;
    border-radius: 15px;
    padding: 10px;
    line-height: 1.2;  
}

/*START nosso Espaco */

/*Config de todos os Titulos */
.hAmbiente, .hProdutos, .hNossoEstabelecimento{
    font-size: 4em;
    text-align: center;
    padding: 1em 0 1em 0;
    font-family: 'Lobster', cursive;
}
.hAmbiente:before, .hProdutos:before, .hNossoEstabelecimento:before{
    content: "🍺";
}

/* Config de Todos os Paragrafos */
.pAmbiente, .pProdutos{
    font-size: 1.5em;
    font-style: italic;
    padding: 0.5em;
    text-align: justify;
    text-indent: 2.5em;
}

.distribuidoraImagem{
    width: 100%; 
    border-radius: 2em;  
}

.distribuidoraImagem:hover{
    opacity: 0.6;   
}

/*END Conheca nosso Espaco */

/*START Produtos e Servicos */

.produtos{
    padding: 0 0 2em 0;
}
.bebidasImagem{
    width: 30%;
    margin: 15px 0px 0 80px; 
    border-radius: 2em;     
}

.bebidasImagem:hover{
    opacity: 0.6;
    width: 31%;
}
.listaProdutosServicos{
    display: inline-block;
    vertical-align: top;
    padding: 0.5em 3em 1em; 
    font-size: 1.5em; 
}

.liProdutos:first-child, .liServicos:first-child{
    font-weight: bold;  
}
.liProdutos:before, .liServicos:before{
    content: "🍺"; 
    font-size: 0.8em;
}
.listaServicos{
    padding: 1.5em 0 0 0;
}
/*END Produtos e Servicos */

/*START Nosso Estabelecimento */
.pNossoEstabelecimento{
    font-size: 1.1em;
    text-align: center;
    padding: 0 0 1em 0;
}
.mapa{
    margin: 0 auto;
    padding: 0 1em 2em 1em;
}
.videoNossoEstabelecimento{
    padding: 3em;
}

.tabelaHorarios{
    margin: 2em auto 2em auto;
    border: 2px solid #000000;
}

th, td{
    border: 2px solid #000000;
    padding: 1em;
    text-align: center;
}

th{
    background: #000000;
    color: #FFFFFF;
}

td{
    background: #363636;
    color: #FFFFFF;
}
/*END Nosso Estabelecimento */
/*END MAIN */

/* START FOOTER */
footer{
    width: 940px;
    margin: 6em auto 2em auto;
    background-image: url("1093598.jpg");
    box-shadow: 5px 5px 15px 15px #363636;
    border-radius: 15px;
}

.logoAdegaFooter{
    width: 50%;
    padding: 0 0 0 12em;
}   
.logoAdegaFooter:hover{
    width: 51%;
    opacity: 0.4;
}
.pRodape{
    text-align: center;
    padding: 0 0 1em 0;
}
.pRodape:before{
    content: "✦";
}

.pRodape:after{
    content: "✦";
}

/* END FOOTER */