/* CSS CABEÇALHO *HEADER* E RODAPÉ *FOOTER* */

body {
    font-family: 'Montserrat', sans-serif;
}

/*CSS HEADER */
header{
    background: #BBBBBB;
    padding: 20px 0;
}

.centralizarHeader{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

/*END CSS HEADER */

/*CSS FOOTER */
footer{
    background: url(bg.jpg);
    text-align: center;
    padding: 30px 0;
}

.copyright{
    margin: 20px 0 0;
    color: #FFFFFF;
    font-size: 15px;
}

/*END CSS FOOTER*/

/* DESIGN RESPONSIVO HEADER */
@media screen and (max-width: 480px) {

    .centralizarHeader{
        width: auto;
        text-align: center;
    }
    nav{
        position: static;
    }
}

/* END DESIGN RESPONSIVO HEADER */