
/*CSS MAIN */

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.tituloPrincipal{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p{
    text-align: center;
    font-size: 20px;
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

#missao{
    font-size: 20px;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapaLocal{
    width: 940px;
    margin: 0 auto;
}

em strong{
    color: #ad2424;
}

.beneficios{
   padding: 3em 0;
   background: #888888;
}

.conteudoBeneficios{
    width: 940px;
    margin: 0 auto;
}

.itensTabela{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    font-style: italic;
    line-height: 1.5;
}

.itens:first-child{
    font-weight: bold;
}

.itens:before{
    content: "★";
}

.imagemBeneficios{
    width: 50%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px #000000;
}

.imagemBeneficios:hover {
    opacity: 0.3;
}

.videoBeneficios{
    width: 560px;
    margin: 3em auto;
}

/*END CSS MAIN */


/*Começando Design Responsivo */

@media screen and (max-width: 480px) {

    .principal, .mapaLocal, 
    .conteudoBeneficios, .videoBeneficios{
        width: auto;
    }

    .utensilios{
        width: 0px;
        vertical-align: top;
    }   
    .centralizarHeader{
        text-align: center;
  }
    .itensTabela{
        width: 100%;  
        margin: 10px;
    }

    .imagemBeneficios{
        width: 100%;     
    }
    .videoBeneficios{
        margin: 20px;
    }
}


/* Fim do Design Responsivo */