/*Início do CSS Main */
/*Formulário*/

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px;
}

form label, form legend{
    display: block;
    font-size: 22px;
    margin: 0 0 10px;
}

.inputPadrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}

.botaoEnviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;

}

.botaoEnviar:hover{
    background: darkorange;
    transform: scale(1.2) rotate(4deg);
}

/*Fim Formulário*/


table {
    margin: 40px 20px;
}

thead {
    background: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}


/*Fim CSS Main*/

/* DESIGN RESPONSIVO */
@media screen and (max-width: 480px){
    main{
        width: auto;
    }
    
    form label, form legend{ 
        font-size: 18px;
    }

    .inputPadrao{
        width: 75%;
    }
    fieldset{
        margin: 10px;
    }
    table{
        text-align: center;
        margin: 20px auto;
    }
    .botaoEnviar{
        width: auto;
        padding: 1em;
    }
}


/* END DESIGN RESPONSIVO */