/* CSS Main - Corpo da página */

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #C78C19;
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtoDescricao {
    font-size: 18px;
}

.produtoPreco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* Fim do CSS Main - Corpo da Página */

/* DESIGN RESPONSIVO */

@media screen and (max-width: 480px){
    .produtos{
        width: auto;
        padding: 20px auto;
    }
    .produtos li{
        width: auto;
        display: block;
        margin: 40px;
        
    }
}


/* END DESIGN RESPONSIVO */